<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>
                        <br />
                        <br />
                        Bienvenido,
                    </h1>
                </div>
            </div>
        </div>
</head>
<body>
    <br />
    <br />
        <div class="row">
            <div class="col-md-4">
                <h3>
                    Buscar en chat:
                </h3>
            </div>
            <div class="col-md-4">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="navbar-toggler-icon"></span>
                    </button> <a class="navbar-brand" href="#">Brand</a>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Link <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                        </ul>
                        <form class="form-inline">
                            <input class="form-control mr-sm-2" type="text" />
                            <button class="btn btn-primary my-2 my-sm-0" type="submit">
                                Search
                            </button>
                        </form>
                    </div>
                </nav>
            </div>
            <div class="col-md-4">

                <button type="button" class="btn btn-md btn-block btn-info">
                    Nuevo
                </button>
                <button type="button" class="btn btn-block btn-md btn-success">
                    Agregar
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3 class="text-info">
                    Contactos
                </h3>
                <ul>
                    <li class="list-item">
                        Lorem ipsum dolor sit amet
                    </li>
                    <li class="list-item">
                        Consectetur adipiscing elit
                    </li>
                    <li class="list-item">
                        Integer molestie lorem at massa
                    </li>
                    <li class="list-item">
                        Facilisis in pretium nisl aliquet
                    </li>
                    <li class="list-item">
                        Nulla volutpat aliquam velit
                    </li>
                    <li class="list-item">
                        Faucibus porta lacus fringilla vel
                    </li>
                    <li class="list-item">
                        Aenean sit amet erat nunc
                    </li>
                    <li class="list-item">
                        Eget porttitor lorem
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Product
                            </th>
                            <th>
                                Payment Taken
                            </th>
                            <th>
                                Status
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                TB - Monthly
                            </td>
                            <td>
                                01/04/2012
                            </td>
                            <td>
                                Default
                            </td>
                        </tr>
                        <tr class="table-active">
                            <td>
                                1
                            </td>
                            <td>
                                TB - Monthly
                            </td>
                            <td>
                                01/04/2012
                            </td>
                            <td>
                                Approved
                            </td>
                        </tr>
                        <tr class="table-success">
                            <td>
                                2
                            </td>
                            <td>
                                TB - Monthly
                            </td>
                            <td>
                                02/04/2012
                            </td>
                            <td>
                                Declined
                            </td>
                        </tr>
                        <tr class="table-warning">
                            <td>
                                3
                            </td>
                            <td>
                                TB - Monthly
                            </td>
                            <td>
                                03/04/2012
                            </td>
                            <td>
                                Pending
                            </td>
                        </tr>
                        <tr class="table-danger">
                            <td>
                                4
                            </td>
                            <td>
                                TB - Monthly
                            </td>
                            <td>
                                04/04/2012
                            </td>
                            <td>
                                Call in to confirm
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>