<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

@using Proyecto1ED2.Models
@model List<string> 

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <div>
        <br />
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
            <div class="page-header">
                <h1>
                    <span>Chat con</span>
                </h1>
            </div>
        </div>
        <div class="col-md-6">
            <div class="page-header">
                <h1>
                    Nombre amigo
                </h1>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</head>
<body>
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div>
                        <div class="form-group col-md-8" style="text-align: center">
                            <table>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        @Html.DisplayFor(modelItem => item)
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        @Html.ActionLink("Regresar", "MenuContactos", null, new { @class = "btn btn-block btn-info" })
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>