
@{
    ViewBag.Title = "Principal";
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Narrow Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../css/editor.css" rel="stylesheet">

    <link href="narrow-jumbotron.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills float-right">
                    <li class="nav-item">

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="Login" style="font-family: Verdana, Geneva, sans-serif; color: rgb(96, 4, 139);">Iniciar sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="SignIn" style="color: rgb(96, 4, 139); font-family: Verdana, Geneva, sans-serif;">Crear usuario</a>
                    </li>
                </ul>
            </nav>
            <h2 class="text-muted" style="float: none; font-family: Verdana, Geneva, sans-serif; font-weight: 100; text-decoration-color: rgb(150, 10, 200);" id="Proyecto">InstaMessage</h2>
        </div>

        <div class="jumbotron">
            <h1 class="display-3" style="font-family: Verdana, Geneva, sans-serif; text-decoration-color: rgb(32, 115, 197);">Bienvenido a la mejor plataforma de mensajería</h1>
            <p class="lead" style="font-family: Verdana, Geneva, sans-serif;">Aquí va la descripción de nuestra página</p>
            <p><a class="btn btn-outline-dark btn-lg" href="#" role="button" id="SignInButton">Conéctate ahora</a></p>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Subheading</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

                <h4>Subheading</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

                <h4>Subheading</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
        </div>

        <footer class="footer">
            <p>J. Valey && M. Estrada, 2020</p>
        </footer>

    </div>

</body>
</html>

