<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <br />
                <br />
                <br />
                <br />
                <div class="page-header">
                    <h1>
                        Menú principal
                    </h1>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">

                        <button type="button" class="btn btn-block btn-info btn-lg">
                            Contactos
                        </button>
                        <br />
                        <button type="button" class="btn btn-block btn-info btn-lg">
                            Buscar
                        </button>
                        <br />
                        <button type="button" class="btn btn-block btn-lg btn-info">
                            Historial
                        </button>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
</body>
</html>

